<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1><u>Student Registration</u></h1>
    <br>
    <form method="POST" action="">
    <label for="">username</label>
    <input name="username" type="text">
    <label for="">mobile</label>
    <input name="mobile" type="text">
    <label for="">address</label>
    <input name="address" type="text">
    <label for="">email</label>
    <input name="email" type="text">
    <label for="">password</label>
    <input name="password" type="text">
    <button>Submit</button>
    </form>
</body>
</html>